src/main/mule/data-logic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:retail-product-availability-process-api="http://www.mulesoft.org/schema/mule/retail-product-availability-process-api"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="createShoppingCart" doc:id="3eb08dad-f5cd-4581-8914-9c3d58c22cab" >
		<logger level="INFO" doc:name="start" doc:id="5c00134b-0e72-4f65-828c-3fe07d3dd187" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "START",&#10;	"text":"process to create shopping cart is started",&#10;	trackingId:correlationId&#10;}]'/>
		<flow-ref doc:name="retrieveProperties" doc:id="7b44b732-264a-4e8f-a8aa-675cb071c07e" name="retrieveProperties"/>
		<logger level="INFO" doc:name="Logger" doc:id="02c3bec8-235f-4148-84b7-f9d823dcf77e" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "INTIALIZATION",&#10;	"text":"After storing the config properties in variables",&#10;	trackingId:correlationId&#10;}]'/>
		<ee:transform doc:name="Generate Identifier and transform input" doc:id="7753023f-3745-4f40-82ff-0db8beeff952">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="shoppingCart"><![CDATA[%dw 2.0
output application/java
---
using(shoppingCart = payload[0])
{
	identifier: uuid(),
	customerId: shoppingCart.customerId,
	items: shoppingCart.items	
}]]></ee:set-variable>
				<ee:set-variable variableName="items"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3ce27eed-4086-4e3a-a1b1-54a5c8e8487a" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "TRANSFORM",&#10;	"text":"input payload is parsed out along with unique identifier",&#10;	trackingId:correlationId&#10;}]'/>
		<os:contains doc:name="Contains customerId" doc:id="657fd73e-e674-4f14-8c8e-663a835244c7" key="#[vars.shoppingCart.customerId]"/>
		<choice doc:name="Does customer entry exist?" doc:id="2d860718-7684-4e70-bcc1-2afc2debc440" >
			<when expression="#[payload == false]" >
				<ee:transform doc:name="Add first cartId" doc:id="9459f863-7eda-4f9e-b751-eb1d60259a50" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[
	vars.shoppingCart.identifier
]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="61558e3c-3841-40e3-a0fe-e5ec389b3320" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "NEW-SHOPPING-CART",&#10;	"text":"Customer has added new shopping cart",&#10;	trackingId:correlationId&#10;}]'/>
			</when>
			<otherwise >
				<os:retrieve doc:name="Retrieve customer's shopping carts" doc:id="0be60789-9172-4951-a5f4-f743d03d17d7" key="#[vars.shoppingCart.customerId]"/>
				<ee:transform doc:name="Add cartId to existing list" doc:id="b33eb564-941c-47d4-8aba-bb147ca91c58" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload + vars.shoppingCart.identifier]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="8300a1ae-e065-4124-83a8-c235f83fe181" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "EXISTING-SHOPPING-CARTS",&#10;	"text":"Added cart ID to the existing list",&#10;	trackingId:correlationId&#10;}]'/>
			</otherwise>
		</choice>
		<os:store doc:name="Store customer" doc:id="616af0c6-5fe4-4de5-b783-c25c918e47ac" key="#[vars.shoppingCart.customerId]"/>
		<logger level="INFO" doc:name="Logger" doc:id="20b4a152-973d-42a1-ab2b-39337229301f" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "STORE",&#10;	"text":"Storing  customer id in object store to track in next transaction",&#10;	trackingId:correlationId&#10;}]'/>
		<foreach doc:name="For Each" doc:id="07925f03-b641-41dd-80fa-c69625ea83ab" collection="#[vars.shoppingCart.items]">
			<set-variable value="#[payload]" doc:name="Save item" doc:id="33beb1eb-9081-423f-b9ed-5c0c7ab3fe0b" variableName="itemDetails"/>
			<flow-ref doc:name="System Api call to retrieve the product catalog with required details" doc:id="3421f38f-1538-4b39-9566-d9127c767a0d" name="productSystemApiCall"/>
			<ee:transform doc:name="Add item to items" doc:id="a0c1f0f9-360a-4a98-8ce1-2988d2054f87" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="items" ><![CDATA[%dw 2.0
output application/java
type Currency = Number {format: "\$#,###.00"}
---
vars.items + {
	productId: vars.itemDetails.productId,
	location: vars.productDetails.Location,
	quantity: vars.itemDetails.quantity,
	"subscriptionMethod":vars.productDetails."Subscription Method",
	"unit":vars.productDetails.Unit,
	"amountPerquantity": vars.productDetails.Amount as Currency,
	"totalAmountToBeCharged": (vars.productDetails.Amount as Currency) * (vars.itemDetails.quantity as Number)
}

]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="dd6a9c9c-98a0-42b9-a92d-90a1ed64c778" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "PRODUCT-CATALOG",&#10;	"text":"Added product details using product sys api call for each product id with amount",&#10;	payload:vars.items,&#10;	trackingId:correlationId&#10;}]' />
		</foreach>
		<ee:transform doc:name="Mapping shopping cart" doc:id="3c138c53-8c2e-44b2-a8da-22b965a5f9e6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	identifier: vars.shoppingCart.identifier,
	customerId: vars.shoppingCart.customerId,
	items: vars.items, 
	created: now() as DateTime
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2f8633a9-3450-470d-b3a0-3e0048cbaee4" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "SUMMARY",&#10;	"text":"mapped complete shopping cart",&#10;	payload:payload,&#10;	trackingId:correlationId&#10;}]'/>
		<os:store doc:name="Store shopping cart" doc:id="14ca996f-c9c2-498a-add3-303ca693261d" key="#[vars.shoppingCart.identifier]" objectStore="ObjectStore_ShoppingCart_Config"/>
		<ee:transform doc:name="Response Message" doc:id="c651b468-3981-4181-9d7c-bf43daa7eb71" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Shopping Cart was created", 
	identifier: vars.shoppingCart.identifier
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ec60f13d-6d7d-4b07-aa73-ea5f1cd79a76" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "COMPLETE",&#10;	"text":" new Shopping cart is created",&#10;	payload:payload,&#10;	trackingId:correlationId&#10;}]'/>
	</flow>
	<flow name="deleteShoppingCart" doc:id="b67512e1-e0ac-4336-af42-b6de7e9682d8" >
		<logger level="INFO" doc:name="Logger" doc:id="58bbe330-f78e-434f-81a3-328e7dfffcb1" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "START",&#10;	"text":"process to delete shopping cart is started",&#10;	trackingId:correlationId&#10;}]'/>
		<set-variable value="#[attributes.uriParams.shoppingCartId]" doc:name="Set Variable shoppingCartId" doc:id="59b9c53e-1f84-434d-8854-6fd45081b5b4" variableName="shoppingCartId"/>
		<os:contains doc:name="Contains shopping Cart" doc:id="6d76653a-d8b1-4928-8bf8-9caa054d7a41" key="#[vars.shoppingCartId]" objectStore="ObjectStore_ShoppingCart_Config"/>
		<choice doc:name="Does shoopingCart exist?" doc:id="b89fd7b2-379e-4792-84dd-5f71858750c7" >
			<when expression="#[payload == true]" >
				<os:retrieve doc:name="Retrieve customerId from ShoppingCart" doc:id="6e0a5fe1-92bf-4534-8bfa-ce3ea1c3ad7d" key="#[vars.shoppingCartId]" objectStore="ObjectStore_ShoppingCart_Config" target="shoppingCart"/>
				<logger level="INFO" doc:name="Logger" doc:id="56474ee2-5653-4658-8c44-994afbdfdbb6" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "EXIST",&#10;	"text":"shopping cart exists hence retrieved the shopping cart",&#10;	trackingId:correlationId&#10;}]'/>
				<os:retrieve doc:name="Retrieve shoppingCards of customer" doc:id="13203dbe-175c-493d-990b-77b158023f21" key="#[vars.shoppingCart.customerId]"/>
				<logger level="INFO" doc:name="Logger" doc:id="13701f5d-6d24-474a-88c6-b2444facef63" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "EXIST",&#10;	"text":"customer id exists hence retrieved the customer id",&#10;	trackingId:correlationId&#10;}]'/>
				<ee:transform doc:name="Filter shoppingCart Ids" doc:id="2c608e88-65bf-45c5-933d-085e946758c3" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload filter $ != vars.shoppingCartId]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<choice doc:name="Is list of shopping carts empty?" doc:id="ac705240-dafc-406d-afcc-28f6dda5ba3f" >
					<when expression="#[payload != []]" >
						<os:store doc:name="Overwrite customer object" doc:id="08a0af66-caed-48c6-8440-9ee0aeb53b39" key="#[vars.shoppingCart.customerId]"/>
						<logger level="INFO" doc:name="Logger" doc:id="64f00d55-c191-4633-9868-c6d69977a712" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "NOT-EMPTY",&#10;	"text":"Shopping cart is not empty, overwriting the object",&#10;	trackingId:correlationId&#10;}]'/>
					</when>
					<otherwise >
						<os:remove doc:name="Remove customer object" doc:id="1628958d-0eb5-4e71-8850-dcef8a2baed4" key="#[vars.shoppingCart.customerId]"/>
						<logger level="INFO" doc:name="Logger" doc:id="21258c90-89b2-468f-a2f5-81ca427ee12a" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "NOT-EMPTY",&#10;	"text":"Shopping cart is  empty, removing the customer object",&#10;	trackingId:correlationId&#10;}]'/>
					</otherwise>
				</choice>
				<os:remove doc:name="Remove shopping cart object" doc:id="ffec1e29-0e33-4caa-afe4-fdd71b29a171" key="#[vars.shoppingCartId]" objectStore="ObjectStore_ShoppingCart_Config"/>
				<ee:transform doc:name="Response message" doc:id="2629696c-3142-4e56-a83b-c09601169acd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Shopping Cart was deleted"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="end" doc:id="cffbe48d-eecf-4f5d-a46a-0736d8508106" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "COMPLETED",&#10;	"text":"Shopping cart is deleted",&#10;	trackingId:correlationId&#10;}]'/>
			</when>
			<otherwise >
				<ee:transform doc:name="Error Message 404" doc:id="0799576d-b3f5-4b6f-844b-0ace455bce33">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Shopping cart not found"
}]]></ee:set-payload>
			</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
404]]></ee:set-variable>
					</ee:variables>
		</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="377ea2fc-56c5-45e0-bdad-40587d3375eb" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "NO-SHOPPING-CART",&#10;	"text":"no shopping cart to delete",&#10;	trackingId:correlationId&#10;}]'/>
			</otherwise>
		</choice>
	</flow>
	<flow name="updateShoppingCart" doc:id="acf01c93-6b0f-4365-8260-e71245e2efbd" >
		<logger level="INFO" doc:name="Logger" doc:id="f6a35c98-d42d-4084-ad66-691f2143f98a" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "START",&#10;	"text":"process to update shopping cart is started",&#10;	trackingId:correlationId&#10;}]'/>
		<flow-ref doc:name="retrieveProperties" doc:id="0b7732bf-e3e5-4b97-b531-84adfab49fd3" name="retrieveProperties" />
		<logger level="INFO" doc:name="Logger" doc:id="de042c52-56fd-4080-beea-652974c587a3" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "INTIALIZATION",&#10;	"text":"After storing the config properties in variables",&#10;	trackingId:correlationId&#10;}]'/>
		<ee:transform doc:name="save input to updateShoppingCart and shoppingCartId" doc:id="0632f836-9dcf-422f-8667-3f9abff224ed" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="items" ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
				<ee:set-variable variableName="shoppingCart" ><![CDATA[%dw 2.0
output application/java
---
payload ++ {
	identifier: attributes.uriParams.shoppingCartId}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="54a10701-755f-4133-bf19-008e8e71b392" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "TRANSFORM",&#10;	"text":"input payload is parsed out along with unique identifier",&#10;	trackingId:correlationId&#10;}]'/>
		<os:contains doc:name="Contains shopping cart" doc:id="7d874542-9ce4-4faf-a08d-30dc9bf7d1a1" objectStore="ObjectStore_ShoppingCart_Config" key="#[vars.shoppingCart.identifier]"/>
		<choice doc:name="Does shopping cart exist?" doc:id="fcacfe5b-4f13-404a-8214-09e8472f4044" >
			<when expression="#[payload == true]" >
				<foreach doc:name="For Each" doc:id="51ac1dd5-76d7-4558-becb-6d79aa933dc7" collection="#[vars.shoppingCart.items]">
					<logger level="INFO" doc:name="Logger" doc:id="03a27907-3e0e-453f-91ae-36466ec7ec61" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "SHOPPING-CART-EXIST",&#10;	"text":"Shopping cart exists with given shopping cart ID",&#10;	trackingId:correlationId&#10;}]'/>
					<set-variable value="#[payload]" doc:name="Set Variable itemDetails" doc:id="0c26a924-f290-462c-b5bb-828e9e8e4236" variableName="itemDetails"/>
					<flow-ref doc:name="System Api call to retrieve the product catalog with required details" doc:id="1090a47d-ccff-4e75-9f74-89213ed1d35c" name="productSystemApiCall" />
					<ee:transform doc:name="Add item to items" doc:id="f12e9491-9f6c-474b-895a-80ee9ae5a39f">
					<ee:message>
					</ee:message>
						<ee:variables >
							<ee:set-variable variableName="items" ><![CDATA[%dw 2.0
output application/java
type Currency = Number {format: "\$#,###.00"}
---
vars.items + {
	productId: vars.itemDetails.productId,
	location: vars.productDetails.Location,
	quantity: vars.itemDetails.quantity,
	"subscriptionMethod":vars.productDetails."Subscription Method",
	"unit":vars.productDetails.Unit,
	"amountPerquantity": vars.productDetails.Amount as Currency,
	"totalAmountToBeCharged": (vars.productDetails.Amount as Currency) * (vars.itemDetails.quantity as Number)
}]]></ee:set-variable>
						</ee:variables>
				</ee:transform>
					<logger level="INFO" doc:name="Logger" doc:id="9c96c23a-2a84-43d7-a13a-375c9d9da747" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "PRODUCT-CATALOG",&#10;	"text":"Added product details using product sys api call for each product id with amount",&#10;	payload:vars.items,&#10;	trackingId:correlationId&#10;}]'/>
				</foreach>
				<os:retrieve doc:name="Retrieve shopping cart" doc:id="982f4ba3-55d3-4820-a58c-5a0d02c85896" key="#[vars.shoppingCart.identifier]" objectStore="ObjectStore_ShoppingCart_Config"/>
				<ee:transform doc:name="Mapping shopping cart" doc:id="0b7095c4-72a6-4017-9545-0784b2be884e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	identifier: vars.shoppingCart.identifier, 
	customerId: payload.customerId,
	items: vars.items
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="7f0330b0-6e9f-41dd-8109-68fe9eef42c9" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "FINAL-SHOPPING-CART-DETAILS",&#10;	"text":"After final transformation of complete shopping cart",&#10;	payload:payload,&#10;	trackingId:correlationId&#10;}]'/>
				<os:store doc:name="Overwrite shopping cart" doc:id="b2894a1e-5658-404d-9edd-37dd684b67aa" objectStore="ObjectStore_ShoppingCart_Config" key="#[vars.shoppingCart.identifier]"/>
				<logger level="INFO" doc:name="Logger" doc:id="950e52ad-e8c8-4ec4-a8b7-0182d3d1912a" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "OVERWRITE-OBJECT-STORE",&#10;	"text":"rewritten complete shopping cart object store for given shopping cart ID",&#10;	trackingId:correlationId&#10;}]'/>
				<ee:transform doc:name="Response message" doc:id="54dc1077-370d-4acc-b41b-f0c404f70bc8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Shopping cart was updated"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="50d53781-fc45-4235-832f-8738db31d6dc" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "COMPLETE",&#10;	"text":"Shopping cart update process completed",&#10;	trackingId:correlationId&#10;}]'/>
			</when>
			<otherwise >
				<ee:transform doc:name="Error Message 404" doc:id="0b50e3a9-0e7f-4d97-a75b-6d3689210a70" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Shopping cart not found"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="e34ef5ba-3a2c-4ea3-a6b1-733e6514bb33" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"tracepoint": "NO-SHOPPING-CART",&#10;	"text":"no shopping cart to update",&#10;	trackingId:correlationId&#10;}]'/>
			</otherwise>
		</choice>
	</flow>
</mule>